@use "../mixins/media-query" as mq;

:root {
  --clr-primary: #5216d1;
  --clr-primary-rgb: 81, 22, 208;

  --clr-secondary: #9d11f4;
  --clr-secondary-rgb: 157, 17, 244;

  --clr-cursor: #ab25e3;

  --clr-selection: #602ad6;

  --clr-gradient-1: var(--clr-secondary);
  --clr-gradient-2: var(--clr-primary);

  --clr-primary-gradient: linear-gradient(
    to right,
    var(--clr-primary),
    var(--clr-secondary)
  );
  --clr-primary-gradient-opacified: linear-gradient(
    to right,
    rgb(var(--clr-primary-rgb), 0.3),
    rgb(var(--clr-secondary-rgb), 0.3)
  );

  --clr-link-gradient-1: #07effd;
  --clr-link-gradient-2: #005fff;

  --clr-body: #f0f0f0;

  --clr-light: #ffffff;
  --clr-light-2: #e0e0e0;

  --clr-light-rgb: 255, 255, 255;

  --clr-dark: #131313;
  --clr-dark-rgb: 19, 19, 19;

  --clr-text: var(--clr-dark);
  --clr-text-dark-1: #595959;

  --clr-text-light: #f2f2f2;
  --clr-text-light-2: #f2f2f299;
  --clr-text-light-rgb: 242, 242, 242;

  --fnt-main: "Poppins", sans-serif;
  --fnt-watermark: "Monument Extended", "Poppins", sans-serif;

  --fnt-weight-normal: 400;
  --fnt-weight-regular: 500;
  --fnt-weight-bold: 700;
  --fnt-weight-black: 900;

  --fnt-size-heading: clamp(4rem, 15vw, 6rem);
  --fnt-size-section-heading: 3rem;
  --fnt-size-section-subheading: 1rem;
  --fnt-size-normal: 1.2rem;
  --fnt-size-link-large: clamp(1.3rem, 5vw, 1.4rem);
  --fnt-size-small: clamp(0.8rem, 3vw, 1rem);
  --fnt-size-x-small: 0.7rem;

  @include mq.screens;

  --nav-height: 75px;

  @include mq.st-mobile {
    --nav-height: 50px;
  }
}
