:root {
  --clr-primary: #9d11f4;
  --clr-secondary: #5216d1;

  --clr-gradient-1: var(--clr-primary);
  --clr-gradient-2: var(--clr-secondary);

  --clr-link-gradient-1: #07effd;
  --clr-link-gradient-2: #005fff;

  --clr-text: #ffffff;

  --fnt-main: "Poppins", sans-serif;
  --fnt-watermark: "Monument Extended", sans-serif;
}
