@mixin size($args...) {
  @if length($args) == 2 {
    width: nth($args, 1);
    height: nth($args, 2);
  }

  @if length($args) == 1 {
    width: $args;
    height: $args;
  }
}

@mixin ratio-size($width, $ratio) {
  width: $width;
  aspect-ratio: $ratio;
}
