---
import SectionWrapper from "@components/SectionWrapper.astro";

const {isOdd = false} = Astro.props;
---

<SectionWrapper title="Skills" shadowTitle="What I Do" id="skills" isOdd={isOdd}>
  <div class="skill-body">
    <div class="skill-body__skill">
      <h3>Development</h3>
      <p>
        I love working on complex web applications and delivering easy to use,
        beautiful product. I can develop new products from the ground up, or
        adapt and customize existing application.
      </p>
    </div>
    <div class="skill-body__skill">
      <h3>Design</h3>
      <p>
        I design user-centric, modern interfaces for digital products or
        services which helps transfers the brand's strengths and visual assets
        to a product's interface.
      </p>
    </div>
  </div>
</SectionWrapper>

<style lang="scss">
  @use "@assets/styles/mixins.scss" as *;

  .skill-body {
    display: grid;
    gap: 50px;

    @include tablet-down {
      text-align: center;
    }

    @include tablet-up {
      grid-template-columns: repeat(2, 1fr);
    }

    &__skill {
      h3 {
        font-size: 2rem;
        margin-bottom: 10px;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
</style>
