::selection {
  background: var(--clr-primary);
  color: var(--clr-text-light);
}

body {
  font-family: var(--fnt-main);
  overflow: hidden;
}

a {
  --link-gradient: linear-gradient(
    to right,
    var(--clr-link-gradient-1),
    var(--clr-link-gradient-2)
  );

  color: var(--clr-text);
  text-decoration: none;

  &.underlined {
    background: var(--link-gradient);

    background-repeat: no-repeat;
    background-size: 100% 0.4rem;
    background-position: 0 80%;
    transition: background 200ms ease-in-out;

    &:hover,
    &:focus {
      background-size: 100% 90%;
    }

    &:focus {
      outline: none;
    }
  }
}
