@forward "./transitions";
@use "~~/assets/styles/mixins" as m;

::selection {
  background: var(--clr-selection);
  color: var(--clr-text-light);
}

html {
  --scroll-extra-padding: 5px;

  scroll-padding-top: calc(var(--nav-height) + var(--scroll-extra-padding));
  scroll-behavior: smooth;
}

body {
  --body-y-overflow: hidden;

  font-family: var(--fnt-main);
  overflow-x: hidden;
  // overflow-y: var(--body-y-overflow);

  background: var(--clr-body);
}
