---
import MainLayout from "@layouts/Main.astro";

import Hero from "@components/Hero.astro";
import Projects from "@components/Projects.astro";
import WhatIDo from "@components/WhatIDo.astro";
import Technologies from "@components/Technologies.astro";
import AboutMe from "@components/AboutMe.astro";
import Contact from "@components/Contact.astro";
---

<MainLayout includeGallery={true} notHomepage={false}>
  <Hero />
  <main>
    <Projects />
    <WhatIDo />
    <Technologies />
    <AboutMe />
    <Contact />
  </main>
</MainLayout>
