---
import MainLayout from "@layouts/Main.astro";
import Hero from "@components/Hero.astro";
import Projects from "@components/Projects.astro";
import WhatIDo from "@components/WhatIDo.astro";
---

<MainLayout>
  <Hero />
  <main>
    <Projects />
    <WhatIDo />
  </main>
</MainLayout>
