---
import Button from "./Button.astro";
import type { ClassList } from "@utils";

export interface Props {
  class?: ClassList;
  type?: "button" | "submit";
}

const { class: className, type = "button" } = Astro.props;

function appenedClass(newClassName: string): ClassList {
  if (!className) return newClassName;
  if (typeof className === "string") return `${className} ${newClassName}`;
  return [...className, newClassName];
}
---

<Button class={appenedClass("button-cta")} type={type}>
  <slot />
</Button>

<style define:vars="" lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  .button-cta {
    border-radius: 100px;
    padding: 8px 20px;
    color: var(--text-main-light);
    @include animate-background-gradient-on-hover;
    @include gradient-shadow($animate-on-hover: true);
  }
</style>
