---
import Button from "./Button.astro";
import type { ClassList } from "@utils";

export interface Props {
  class?: ClassList;
  type?: "button" | "submit";
  dataElement?: string;
}

const { class: className, type = "button", dataElement } = Astro.props;

function appendClass(newClassName: string): ClassList {
  if (!className) return newClassName;
  if (typeof className === "string") return `${className} ${newClassName}`;
  return [...className, newClassName];
}
---

<Button class={appendClass("button-cta")} {...{ dataElement, type }}>
  <slot />
</Button>

<style lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  :global(button.button-cta.button-cta) {
    border-radius: 100px;
    padding: 8px 20px;
    color: var(--text-main-light);
    @include animate-background-gradient-on-hover;
    @include gradient-shadow($animate-on-hover: true);
  }
</style>
