---
import Container from "./Container.astro";
import { createLinksLink } from "@utils";
---

<footer>
  <Container>
    <div class="copyright">
      <span class="tablet-up">Copyright © 2023 Omar Eloui</span>
      <span class="tablet-down">Copyright © 2023</span>
    </div>
    <div class="links">
      {
        ["linkedin", "telegram", "github"].map(x => (
          <a
            href={createLinksLink(x)}
            target="_blank"
            aria-label={`A link to my ${x}.`}
          >
            <img src={`/icons/footer/${x}.svg`} alt="" />
          </a>
        ))
      }
    </div>
    <div class="source-code tablet-up">
      <a href={createLinksLink("portfolio-gh")} target="_blank">Source code</a>
    </div>
  </Container>
</footer>

<style lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  footer {
    isolation: isolate;
    background: var(--surface2);

    > :first-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      font-size: 0.8rem;
      padding: 10px;

      .copyright {
        justify-self: start;
      }

      .links {
        justify-self: end;
        display: flex;
        gap: 10px;

        a {
          display: block;
          line-height: 100%;
          opacity: 0.5;
          transition: 500ms;
          @include size(25px);

          &:hover {
            opacity: 1;
          }

          img {
            @include size(100%);
          }
        }
      }

      @include tablet-up {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1rem;
        .links {
          justify-self: center;
          a {
            @include size(30px);
          }
        }
        .source-code {
          justify-self: end;
          font-weight: bold;
        }
      }
    }
  }
</style>
