---
import Container from "./Container.astro";
import { createLinksLink } from "@utils";
---

<footer>
  <Container>
    <div class="copyright">
      <span class="tablet-up">Copyright © 2023 Omar Eloui</span>
      <span class="tablet-down">Copyright © 2023</span>
    </div>
    <div class="links">
      {
        ["linkedin", "telegram"].map(x => (
          <a
            href={createLinksLink(x)}
            target="_blank"
            aria-label={`A link to my ${x}.`}
          >
            <img src={`/icons/footer/${x}.svg`} alt="" />
          </a>
        ))
      }
      <a
        href={createLinksLink("github")}
        target="_blank"
        aria-label="A link to my github."
      >
        <svg
          width="32"
          height="30"
          viewBox="0 0 32 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.8919 0C7.31309 0 0.357178 6.88563 0.357178 15.3797C0.357178 22.174 4.80733 27.9386 10.9824 29.973C11.7594 30.1133 12.0041 29.6576 12.0041 29.25C12.0041 28.8847 12.0119 27.8636 12.0041 26.5802C7.68313 27.5098 6.78766 24.5545 6.78766 24.5545C6.08158 22.7778 5.06373 22.3048 5.06373 22.3048C3.65352 21.351 5.1696 21.3693 5.1696 21.3693C6.72841 21.4779 7.55007 22.9547 7.55007 22.9547C8.93601 25.3034 11.1854 24.6246 12.0702 24.2324C12.2119 23.2383 12.614 22.5605 13.0579 22.1759C9.6081 21.7875 5.98154 20.4685 5.98154 14.575C5.98154 12.8954 6.58662 11.5235 7.58018 10.4486C7.41993 10.0602 6.88575 8.496 7.73266 6.37801C7.73266 6.37801 9.03701 5.9646 12.0041 7.95568C13.2434 7.61438 14.573 7.44421 15.8939 7.43845C17.2138 7.44421 18.5424 7.61438 19.7836 7.95568C22.7507 5.96556 24.0531 6.37801 24.0531 6.37801C24.9 8.496 24.3668 10.0602 24.2076 10.4486C25.2011 11.5235 25.8042 12.8954 25.8042 14.575C25.8042 20.4838 22.1719 21.7837 18.7104 22.1634C19.2679 22.6393 19.7739 23.5623 19.7739 24.9967C19.7739 26.9195 19.7739 28.7481 19.7739 29.2538C19.7739 29.6653 20.0245 30.1201 20.8131 29.9711C26.9823 27.9338 31.4286 22.1721 31.4286 15.3797C31.4286 6.88563 24.4727 0 15.8919 0Z"
            fill="var(--text)"></path>
        </svg>
      </a>
    </div>
    <div class="source-code tablet-up">
      <a href={createLinksLink("portfolio-gh")} target="_blank">Source code</a>
    </div>
  </Container>
</footer>

<style lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  footer {
    isolation: isolate;
    background: var(--surface1);

    > :first-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      font-size: 0.8rem;
      padding: 10px;

      .copyright {
        justify-self: start;
      }

      .links {
        justify-self: end;
        display: flex;
        gap: 10px;

        a {
          display: block;
          line-height: 100%;
          opacity: 0.5;
          transition: 500ms;
          @include size(25px);

          &:hover {
            opacity: 1;
          }

          img,
          svg {
            @include size(100%);
          }
        }
      }

      @include tablet-up {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1rem;
        .links {
          justify-self: center;
          a {
            @include size(30px);
          }
        }
        .source-code {
          justify-self: end;
          font-weight: bold;
        }
      }
    }
  }
</style>
