<fotter>
  <div class="left">Copyright © 2022 Omar Eloui All Rights Reserved.</div>
  <div class="center"></div>
  <div class="right">
    <a href="https://github.com/omareloui/Portfolio">Source code</a>
  </div>
</fotter>
