---
import Button from "@components/Button.astro";
import Container from "@components/Container.astro";
import Hero3D from "@components/Hero3D.astro";
import ButtonCta from "./ButtonCta.astro";
---

<Container tag="section" class="hero">
  <Hero3D class="hero__3d" />

  <div class="hero__main" id="hero">
    <div class="titles">
      <h1 class="title">
        <span class="supertitle">I'm <strong>Omar Eloui</strong>.</span>
        <!-- TODO: not only the web -->
        I build stuff for the web
      </h1>
      <span class="subtitle">and design when it comes to it</span>
    </div>
    <div class="body">
      <!-- TODO: I'm a backend developer -->
      <p>
        I'm a full stack web developer, professional Googler, designer —occasionally—, and <a href="#aboutme"
          >some other stuff</a
        >.
      </p>

      <div class="buttons">
        <ButtonCta dataElement="#workexpr">Checkout my experience</ButtonCta>
        <Button dataElement="#contact">Contact</Button>
      </div>
    </div>
  </div>
</Container>

<script>
  const buttons = document.querySelectorAll(".hero__main .body .buttons button");

  buttons.forEach(btn => btn.addEventListener("click", onBtnClick));

  function onBtnClick(e: Event) {
    const el = e.target! as HTMLElement;
    document.querySelector(el.dataset.element!)!.scrollIntoView();
  }
</script>

<style lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  :global(.hero) {
    display: grid;

    @include tablet-down {
      grid-template-columns: 1fr;
      :global(.hero__3d),
      .hero__main {
        grid-row: 1 / -1;
      }

      :global(.hero__3d) {
        grid-column: 1 / -1;
      }

      .hero__main {
        grid-column: 1 / -1;
        padding-block: 30px;
        padding-inline: 20px;
        background: var(--blur-surface3);
        backdrop-filter: blur(2px);
        border-radius: 10px;
      }
    }

    @include tablet-up {
      grid-template-columns: repeat(4, 1fr);

      :global(.hero__3d),
      .hero__main {
        grid-row: 1 / -1;
      }

      .hero__main {
        grid-column: 1 / 3;
        padding-inline: 0;
      }

      :global(.hero__3d) {
        grid-column: 2 / -1;
      }
    }

    .hero__main {
      align-self: center;

      width: 100%;

      .titles {
        * {
          font-weight: bold;
        }
        span {
          display: block;
        }
        h1 {
          font-size: 2.5rem;
          line-height: 100%;
        }
        .supertitle {
          color: var(--subtext0);
          font-size: 1.2rem;
        }
        .subtitle {
          font-size: 1rem;
          color: var(--subtext1);
          font-weight: normal;
          margin-block: 10px 20px;
        }
      }

      .body {
        p {
          font-size: 1rem;
          padding: 1rem 0;
        }

        .buttons {
          font-size: 1.2rem;
          margin-top: 30px;
          display: flex;
          gap: 20px;

          button:last-child {
            border-radius: 99px;
          }
        }
      }
    }

    @include tablet-up {
      .hero__main {
        h1 {
          font-size: 3rem;
        }
        .body {
          p {
            font-size: 1.1rem;
          }
          .buttons button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
</style>
