---
import Button from "@components/Button.astro";
import Container from "@components/Container.astro";
---

<Container class="scroll-top hide">
  <Button aria-label="Scroll top">
    <svg viewBox="0 0 24 24" fill="none">
      <path
        d="M12 22L12 7"
        stroke="var(--text)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"></path>
      <path
        d="M5 14L12 7L19 14"
        stroke="var(--text)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"></path>
      <path
        d="M3 2H21"
        stroke="var(--text)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"></path>
    </svg>
  </Button>
</Container>

<script>
  const button: HTMLElement = document.querySelector(".scroll-top button")!;
  button.addEventListener("click", scrollTop);

  document.addEventListener("showscrolltop", show);
  document.addEventListener("hidescrolltop", hide);

  function show() {
    button.parentElement!.classList.remove("hide");
  }

  function hide() {
    button.parentElement!.classList.add("hide");
  }

  function scrollTop() {
    scrollTo(0, 0);
  }
</script>

<style lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  .scroll-top {
    --size: 60px;

    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 0;
    right: 0;
    height: var(--size);
    pointer-events: none;
    user-select: none;

    button {
      background: var(--blur-surface0);
      backdrop-filter: blur(4px);
      @include size(var(--size));
      border-radius: 50%;
      padding: 18px;
      pointer-events: all;
      user-select: all;
      transition: opacity ease-in-out 300ms;

      position: absolute;
      right: 30px;
      top: 0;

      &:hover {
        svg {
          animation: scroll-up 1000ms linear infinite;
        }
      }
      svg {
        @include size(100%);
      }
    }

    &.hide button {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }
</style>
