---
import ShadowText from "@components/ShadowText.astro";
---

<div class="section-title">
  <h2>
    <ShadowText translate="-5% -50%" italic={false}>
      <slot name="shadow-text" />
    </ShadowText>
    <slot />
  </h2>
  <span class="underline"></span>
</div>

<style lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  .section-title {
    width: fit-content;
    margin-bottom: 30px;

    h2 {
      font-size: 2rem;
      width: fit-content;
    }

    .underline {
      display: block;
      border-radius: 10px;
      margin-top: 5px;
      @include size(100px 5px);

      @include animate-backgrond-gradient(
        $color: var(--gradient-primary),
        $increase-x-by: 2,
        $duration: 5s
      );
      animation-play-state: paused;
    }

    &:is(:hover, :focus) .underline {
      animation-play-state: running;
    }
  }
</style>
