@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsl(var(--magenta-hsl) / 0.7);
    transform: scale(0.95);
  }
  70% {
    box-shadow: 0 0 0 8px hsl(var(--magenta-hsl) / 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0 hsl(var(--magenta-hsl) / 0);
    transform: scale(0.95);
  }
}
