main {
  padding-block-end: 1rem;
}

main>* {
  margin-block: 1rem;
}

ul,
ol {
  margin-inline-start: 2rem;
  margin-block: 1rem;
}

:not(pre)>code {
  background: var(--inline-code-bg);
  color: hsl(var(--cyan-hsl) / 0.8);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 0.9em;
  display: inline-block;
  padding: 0.08em 0.15em;
  border-radius: 0.2em;
  margin-inline: 0.025rem;
}

details {
  --details-border-radius: 5px;

  background: var(--surface1);
  // margin-inline-start: 1rem;
  margin-block-end: 2.5rem;
  padding: 10px 20px;
  border-radius: var(--details-border-radius);
  border-left: var(--details-border-radius) solid var(--purple);
}

summary {
  color: var(--subtext1);
  cursor: pointer;
  font-size: 0.8em;
  height: 20px;
}

hr {
  border: none;
  height: 3px;
  background: var(--surface2);
  border-radius: 99px;
  margin-block: 3rem;
  outline: none;
}
