:root {
  --blocks-borders: 3px;
}

main {
  padding-block-end: 1rem;
}

main>* {
  margin-block: 1rem;
}

ul,
ol {
  margin-inline-start: 2rem;
  margin-block: 1rem;
}

:not(pre)>code {
  background: var(--inline-code-bg);
  color: hsl(var(--cyan-hsl) / 0.8);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 0.9em;
  display: inline-block;
  padding: 0.08em 0.15em;
  border-radius: 0.2em;
  margin-inline: 0.025rem;
}

details {
  background: var(--surface1);
  margin-block-end: 2.5rem;
  padding: 10px 20px;
}

summary {
  color: var(--subtext1);
  cursor: pointer;
  font-size: 0.8em;
  height: 20px;
}

hr {
  border: none;
  height: 3px;
  background: var(--surface2);
  border-radius: 99px;
  margin-block: 3rem;
  outline: none;
}

blockquote {
  background: var(--surface2);
  border-radius: 3px;
  padding: 0.8rem 1rem;
  margin-block: 1rem;
  font-size: 0.9em;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-style: italic;

  > :not(:last-child) {
    margin-bottom: 0.5rem;
  }

  > :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 1.2em;
  }

}

blockquote,
details {
  border-radius: var(--blocks-borders);
  border-left: var(--blocks-borders) solid var(--overlay0);
  transition: border-color ease-in-out 200ms;

  &:hover {
    border-left-color: var(--purple);
  }
}
