@use "sass:list";
@use "mixins.scss" as *;

$colors-props: ();

// Helpers {{{
@mixin add-color($color-name, $light-value, $dark-value) {
  --#{$color-name}-light: #{$light-value};
  --#{$color-name}-dark: #{$dark-value};
  $colors-props: list.append($colors-props, #{$color-name}) !global;
}

@mixin set-color-theme($theme: light) {
  @each $style in $colors-props {
    --#{$style}: var(--#{$style}-#{$theme});
  }
}
// }}}

:root {
  // Colors {{{
  color-scheme: light;

  --gradient-primary: linear-gradient(
    245deg,
    #4adeff 17%,
    #9656ff 50%,
    #ff31d2 82%
  );

  @include add-color(surface0, #f8f8f8, #1b1b1b);
  @include add-color(surface1, #ffffff, #222222);
  @include add-color(surface2, #e2e2e2, #343434);
  @include add-color(overlay0, #d4d4d4, #747474);

  @include add-color(highlight, #1b1b1b38, #f8f8f838);

  @include add-color(text, #131313, #f2f2f2);
  @include add-color(subtext1, #595959, #eeeeee);
  @include add-color(subtext2, #848484, #cccccc);
  @include add-color(shadow-text, #13131329, #e5e5e514);
  @include add-color(text-invert, #f2f2f2, #131313);

  @include set-color-theme(light);
  // }}}

  // Media Queries {{{
  @include screens;
  // }}}
}

:root[theme="dark"] {
  color-scheme: dark;
  @include set-color-theme(dark);
}
