---
import "@assets/styles/variables.scss";
import "@assets/styles/global.scss";
import "@assets/styles/keyframes.scss";
import "@assets/styles/helper-classes.scss";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import HeadingTags from "@components/HeadingTags.astro";

import GalleryPreviewer from "@components/GalleryPreviewer.astro";
import ScrollTop from "@components/ScrollTop.astro";

export interface Props {
  isPostsPage?: boolean;
  notHomepage?: boolean;
  includeGallery?: boolean;
  includeScrollTop?: boolean;
}

const { notHomepage = true, includeGallery = false, includeScrollTop = false, isPostsPage = false } = Astro.props;

const title = "Omar Eloui | Full-Stack Developer";
const description =
  "I am a software engineer passionate about building scalable and innovative solutions. This portfolio highlights my projects, skills, and achievements, showcasing my commitment to solving complex problems and pushing the boundaries of technology. Explore my work and see how I bring ideas to life through software.";
---

<>
  <!-- @ts-ignore -->
  <html lang="en" theme="dark">
    <head>
      <HeadingTags title={title} description={description} />
    </head>
    <body>
      {includeGallery && <GalleryPreviewer />}
      <Header notHomepage={notHomepage} postsPage={isPostsPage} />
      <slot />
      <Footer />
      <ScrollTop />
      {includeScrollTop && <ScrollTop />}
    </body>
  </html>
</>
