---
import { SEO } from "astro-seo";

import "@assets/styles/variables.scss";
import "@assets/styles/global.scss";
import "@assets/styles/keyframes.scss";
import "@assets/styles/helper-classes.scss";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import GalleryPreviewer from "@components/GalleryPreviewer.astro";
import ScrollTop from "@components/ScrollTop.astro";

export interface Props {
  notHomepage?: boolean;
  includeGallery?: boolean;
  includeScrollTop?: boolean;
}

const {
  notHomepage = true,
  includeGallery = false,
  includeScrollTop = false,
} = Astro.props;

const title = "Omar Eloui | Full-Stack Developer";
const description = "Omar Eloui is a full stack developer.";
const ogImage = "/images/heading.png";
---

<>
  <!-- @ts-ignore -->
  <html lang="en" theme="dark">
    <head>
      <!-- Gtag -->
      <script
        type="text/partytown"
        src="https://www.googletagmanager.com/gtag/js?id=G-MD040L0DB2"
      ></script>
      <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          // eslint-disable-next-line
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-MD040L0DB2");
      </script>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet"
      />

      <SEO
        title={title}
        description={description}
        openGraph={{
          basic: {
            title: "Omar Eloui | Web Developer",
            url: "https://omareloui.com",
            type: "website",
            image: ogImage,
          },
          optional: { siteName: "OmarEloui", description },
          image: {
            url: ogImage,
            alt: "Heading image of the site.",
            type: "image/png",
            width: 1200,
            height: 630,
          },
        }}
        twitter={{
          creator: "@omareloui",
          card: "summary_large_image",
          image: ogImage,
          imageAlt: "Heading image of the site.",
          title,
          description,
        }}
        extend={{
          meta: [
            {
              property: "og:update_time",
              content: `${Math.floor(Number(new Date()) / 1000)}`,
            },
            { name: "theme-color", content: "#1b1b1b" },
          ],
          link: [
            {
              rel: "icon",
              href: "/icons/favicon-light.svg",
              type: "image/svg+xml",
            },
            { rel: "manifest", href: "/site.webmanifest" },
            { rel: "apple-touch-icon", href: "/pwd/icons/logo_x180.png" },
          ],
        }}
      />

      <script>
        import { theme } from "@utils";

        theme.init();

        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/sw.js");
        }
      </script>
    </head>
    <body>
      {includeGallery && <GalleryPreviewer />}
      <Header notHomepage={notHomepage} />
      <slot />
      <Footer />
      {includeScrollTop && <ScrollTop />}
    </body>
  </html>
</>
